mixin navigation()
  div(class="navbar navbar-fixed-top")
      div.navbar-inner
        div.container
          a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="brand", href="#") Project name
          div.nav-collapse
            ul.nav
              li.active
                a(href="/") Home
              li
                a(href="/dev") Dev
              li
                a(href="/debug") Debug
              li
                a(href="/game") Game
              li
                a(href="/#/") #/
              li
                a(href="/#/games/1") #Games/1


mixin liveReload()
  - if( livereload )
    | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

mixin game-state-info(gameState)
  div.game-state-info.btn-inverse
    div.game-info.left
      mixin avatar(gameState.icon)
      span.text #{gameState.category}
    div.game-info.right.game-status
      mixin avatar(gameState.playerA.avatarUrl)
      mixin avatar(gameState.playerB.avatarUrl)
      span.text #{gameState.score} x
      i.icon-star.icon-yellow.game-score


mixin game-action(speaker)
  div.game-action-container.quotes
    div.game-action-area
      div.quote
        div.avatar
          img(alt='Two', src=speaker.imageUrl)
        div(class='box-container card bubble')
          div.tail
          p Lorem


mixin chatBubble(profile, text)
  div.quote
    div.avatar
      img(alt='Two', src=profile.imageUrl)
    div(class='box-container card bubble')
      div.tail
      p(class='beveled quoted')
        span.start-quote "
        | #{text}
        span.end-quote "
      p(class='attribution') #{profile.userName}. from #{profile.origin}

mixin gameBubble(profile, questions, lang)
  div.quote
    div.avatar
      img(alt='Two', src=profile.imageUrl)
    div(class='box-container card bubble')
      div.tail
      p(class='attribution') Choose what to say!
      form(class='')
        a(type='button', id='answer_a', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet.
          div.rating-container
            i.icon-star.icon-yellow
        a(type='button', id='answer_b', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          div.rating-container
            i.icon-star.icon-yellow
            i.icon-star.icon-yellow
        a(type='button', id='answer_c', class='button btn-primary btn-large choose-answer last') - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris ipsum, feugiat vel tristique a, sodales sed lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          div.rating-container
            i.icon-star.icon-yellow
            i.icon-star.icon-yellow
            i.icon-star.icon-yellow

mixin click-to-record-failed(profile)
  div.game-action-area
    div.quote
      div.avatar
        img(alt='Two', src=profile.imageUrl)
      div(class='box-container card bubble')
        div.tail
        a(type='button', id='answer_a', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet.
          div.rating-container
            i.icon-star.icon-yellow

        p(class='attribution') Translate to English, and record your translation!
        div.record
            i.icon-play-circle
            p Your didn't record anything, try again. 
              a(href='#') Help
            p Click and hold to record.

mixin choose-an-answer-successful
  div.game-action-area
    div.quote
      div.avatar
        img(alt='Two', src=profile.imageUrl)
      div(class='box-container card bubble')
        div.tail
        p(class='attribution') What is Samsan saying?
        div.record
            i.icon-play-circle
            span Click to hear
        form(class='')
          a(type='button', id='answer_a', class='button btn-danger btn-large choose-answer') - Lorem ipsum dolor sit amet.
            div.rating-container
          a(type='button', id='answer_b', class='button btn-danger btn-large choose-answer') - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            div.rating-container
          a(type='button', id='answer_c', class='button btn-success btn-large choose-answer') - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris ipsum, feugiat vel tristique a, sodales sed lacus. Vestibulum ante ipsum primis.
            div.rating-container
          a(type='button', id='answer_d', class='button btn-danger btn-large choose-answer last') - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris ipsum, feugiat vel tristique a, sodales sed lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            div.rating-container

mixin choose-an-answer
  div.game-action-area
    div.quote
      div.avatar
        img(alt='Two', src=profile.imageUrl)
      div(class='box-container card bubble')
        div.tail
        p(class='attribution') What is Samsan saying?
        div.record
            i.icon-play-circle
            span Click to hear
        form(class='')
          a(type='button', id='answer_a', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet.
            div.rating-container
          a(type='button', id='answer_b', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            div.rating-container
          a(type='button', id='answer_c', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris ipsum, feugiat vel tristique a, sodales sed lacus. Vestibulum ante ipsum primis.
            div.rating-container
          a(type='button', id='answer_d', class='button btn-primary btn-large choose-answer last') - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris ipsum, feugiat vel tristique a, sodales sed lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            div.rating-container

mixin click-to-record(profile)
  div.game-action-area
    div.quote
      div.avatar
        img(alt='Two', src=profile.imageUrl)
      div(class='box-container card bubble')
        div.tail
        a(type='button', id='answer_a', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet.
          div.rating-container
            i.icon-star.icon-yellow

        p(class='attribution') Translate to English, and record your translation!
        div.record
            i.icon-play-circle
            p Click and hold button to record

mixin click-to-send-recording(profile)
  div.game-action-area
    div.quote
      div.avatar
        img(alt='Two', src=profile.imageUrl)
      div(class='box-container card bubble')
        div.tail
        a(type='button', id='answer_a', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet.
          div.rating-container
            i.icon-star.icon-yellow

        p(class='attribution') Translate to English, and record your translation!
        div.record
            i.icon-play-circle
            i.icon-play
            a(type='button', class='button btn-primary btn-large send-recording') Send your recording




mixin avatar(src)
  div.avatar
    img(src=src)

mixin chooseWhatToSay()
  div.game-action-area
    mixin gameBubble({imageUrl: '/img/profiles/d.jpg', userName: 'John. D', origin: 'Sweden'}, "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et ullamcorper ipsum.")

mixin games-listing()
  .toolbar
    h2 Games
  div.game-container.game-well.with-toolbar
    ul.games-listing
      mixin games-listing-item()
      mixin games-listing-item()
      mixin games-listing-item()
      mixin games-listing-item()

mixin games-listing-item()
  li.game
    i.icon-star.icon-yellow.icon
    div.game-info
      h2
        a(href="#") Lorem ipsum
      p Lorem ipsum vs Dolor samet
    i.icon-chevron-right

mixin choose-what-to-say-html()
      p(class='attribution') Choose what to say!
      form(class='')
        a(type='button', id='answer_a', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet.
          div.rating-container
            i.icon-star.icon-yellow
        a(type='button', id='answer_b', class='button btn-primary btn-large choose-answer') - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          div.rating-container
            i.icon-star.icon-yellow
            i.icon-star.icon-yellow
        a(type='button', id='answer_c', class='button btn-primary btn-large choose-answer last') - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris ipsum, feugiat vel tristique a, sodales sed lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          div.rating-container
            i.icon-star.icon-yellow
            i.icon-star.icon-yellow
            i.icon-star.icon-yellow
